app/views/vehicles/_form.html.erb
<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="smartwizard" class="sw-main sw-theme-arrows">
      <ul class="nav nav-tabs step-anchor">
          <li class="step-field"><a href="#step-1" class="display-4">Step 1</a></li>
          <li class="step-field"><a href="#step-2" class="display-4">Step 2</a></li>
          <li class="step-field"><a href="#step-3" class="display-4">Step 3</a></li>
          <li class="step-field"><a href="#step-4" class="display-4">Done!</a></li>
      </ul>

      <div>
        <div id="step-1" class="">
            <h2 class="text-center mt-3">Specifications</h2>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Car Condition</label>
                  <%= form.select :condition, options_for_select(['New', 'Used']),{},{class: 'form-control'} %>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Price</label>
                  <%= form.text_field :price, id: :vehicle_price, type: 'number', name: 'quantity', placeholder: '$ 00.00', class: 'form-control' %>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Age</label>
                  <%= form.text_field :carYear, id: :vehicle_carYear, type: 'date', class: 'form-control' %>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Engine Type</label>
                  <%= form.text_field :engineType, id: :vehicle_engineType, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Car Maker</label>
                  <%= form.collection_select(:carMaker, VehicleBrand.all, :id, :name, {}, { class: 'form-control'})%>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Gas Type</label>
                  <%= form.select :gasType, options_for_select(['GLP', 'Gasoline', 'Diesel', 'Helectric', 'Hybrid']),{},{class: 'form-control'} %>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Millage</label>
                  <%= form.text_field :carMileage, id: :vehicle_carMileage, class: 'form-control' %>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>VIN</label>
                  <%= form.text_field :VIM, id: :vehicle_VIM, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Car Model</label>
                  <%= form.collection_select(:carModel, VehicleModel.all, :id, :name, {}, { class: 'form-control'})%>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Internal Color</label>
                  <%= form.text_field :internalColor, id: :vehicle_internalColor, class: 'form-control' %>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">External Color</label>
                  <%= form.text_field :externalColor, id: :vehicle_externalColor, class: 'form-control' %>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label>Previews Owners</label>
                  <%= form.text_field :previewOwner, id: :vehicle_previewOwner, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Car Type</label>
                  <%= form.collection_select(:carType, VehicleType.all, :id, :name, {}, { class: 'form-control'})%>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Transmission</label>
                  <%= form.select :transmision, options_for_select(['Automatic', 'Manual', 'Hybrid']),{},{class: 'form-control'} %>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Door Numbers</label>
                  <%= form.text_field :carDoor, id: :vehicle_carDoor, class: 'form-control' %>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-3">
                <div class="form-group">

                </div>
              </div>
              <!-- <div class="col-12 col-md-6">
                <div class="form-group">
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Additional Information</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </div>
              </div> -->
            </div>
        </div>
        <div id="step-2" class="">
          <h2 class="text-center mt-3">Features</h2>
          <h3 class="my-3">Inside</h3>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Seats Line</label>
                <%= form.number_field :seatsLine, id: :vehicle_seatsLine, class: 'form-control' %>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Seats Material</label>
                <%= form.text_field :seatsMaterial, id: :vehicle_seatsMaterial, class: 'form-control' %>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :airbag, id: :vehicle_airbag, class: 'form-check-input' %>
                  Air Bag
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :sportSeats, id: :vehicle_sportSeats, class: 'form-check-input' %>
                  Sport Seats
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :electricalChairs, id: :vehicle_electricalChairs, class: 'form-check-input' %>
                  Electrical Chairs
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :supportFrontArms, id: :vehicle_supportFrontArms, class: 'form-check-input' %>
                  Support Front Arms
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :safetyBelt, id: :vehicle_safetyBelt, class: 'form-check-input' %>
                  Safety Belt
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :multifunctionGuide, id: :vehicle_multifunctionGuide, class: 'form-check-input' %>
                  Multifunction Guide
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :ac, id: :vehicle_ac, class: 'form-check-input' %>
                  Air Conditioner
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :radio, id: :vehicle_radio, class: 'form-check-input' %>
                  Radio AM/FM
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :DVD, id: :vehicle_DVD, class: 'form-check-input' %>
                  DVD
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :cdPlayer, id: :vehicle_cdPlayer, class: 'form-check-input' %>
                  CD Player
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                <%= form.check_box :cdBox, id: :vehicle_cdBox, class: 'form-check-input' %>
                CD Box
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :usbinterface, id: :vehicle_usbinterface, class: 'form-check-input' %>
                  USB Interface
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :mp3Aux, id: :vehicle_mp3Aux, class: 'form-check-input' %>
                  MP3-Aux
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :speakrsHifi, id: :vehicle_speakrsHifi, class: 'form-check-input' %>
                  Speaker Wi-Fi
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :profecionalSound, id: :vehicle_profecionalSound, class: 'form-check-input' %>
                  Professional Sound
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :wifi, id: :vehicle_wifi, class: 'form-check-input' %>
                  Wi-Fi
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :bluethooth, id: :vehicle_bluethooth, class: 'form-check-input' %>
                  Bluetooth
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3"></div>
          </div>
          <hr>
          <h3 class="my-3">Exterior</h3>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :trailerCouplig, id: :vehicle_trailerCouplig, class: 'form-check-input' %>
                  Trailer Compling
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :rearSpoiler, id: :vehicle_rearSpoiler, class: 'form-check-input' %>
                  Rear Spoiler
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :halogenXenon, id: :vehicle_halogenXenon, class: 'form-check-input' %>
                  Halogen / Xenon
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :fogLigth, id: :vehicle_fogLigth, class: 'form-check-input' %>
                  Fog Lights
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :daytimeRunningLigths, id: :vehicle_daytimeRunningLigths, class: 'form-check-input' %>
                  Daytime Running Lights
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :cleanRearGlasses, id: :vehicle_cleanRearGlasses, class: 'form-check-input' %>
                  Clean Rear Glasses
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :electricMirrors, id: :vehicle_electricMirrors, class: 'form-check-input', class: 'form-check-input' %>
                  Electric Mirrors
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Electric Glasses
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :electricDoors, id: :vehicle_electricDoors, class: 'form-check-input' %>
                  Electric Doors
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :newRubbers, id: :vehicle_newRubbers, class: 'form-check-input' %>
                  New Rubber
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :factoryRings, id: :vehicle_factoryRings, class: 'form-check-input' %>
                  Factory Rings
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :factoryPaints, id: :vehicle_factoryPaints, class: 'form-check-input' %>
                  Factory Paint
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :panoramicCeiling, id: :vehicle_panoramicCeiling, class: 'form-check-input' %>
                  Panoramic Ceiling
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :sunroof, id: :vehicle_sunroof, class: 'form-check-input' %>
                  Sunroof
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3"></div>
            <div class="col-12 col-md-6 col-lg-3"></div>
          </div>
          <hr>
          <h3 class="my-3">Technology</h3>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Version</label>
                <%= form.text_field :version, id: :vehicle_version, class: 'form-control' %>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :absBrakes, id: :vehicle_absBrakes, class: 'form-check-input' %>
                  ABS Brakes
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :alarm, id: :vehicle_alarm, class: 'form-check-input' %>
                  Alarm
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :reverseCamera, id: :vehicle_reverseCamera, class: 'form-check-input' %>
                  Reverse Camera
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :rainSensor, id: :vehicle_rainSensor, class: 'form-check-input' %>
                  Rain Sensors
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :parkingSensor, id: :vehicle_parkingSensor, class: 'form-check-input' %>
                  Parking Sensors
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :gps, id: :vehicle_gps, class: 'form-check-input' %>
                  Navigation System (GPS)
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :smartKey, id: :vehicle_smartKey, class: 'form-check-input' %>
                  Smart Key
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :creuiseControl, id: :vehicle_creuiseControl, class: 'form-check-input' %>
                  Cruise Control
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :four_x_four, id: :vehicle_four_x_four, class: 'form-check-input' %>
                  4x4
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :turbo, id: :vehicle_turbo, class: 'form-check-input' %>
                  Turbo
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :fullPower, id: :vehicle_fullPower, class: 'form-check-input' %>
                  Full Power
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  Sport Suspensions
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
              <div class="form-check check-input">
                <label class="form-check-label">
                  <%= form.check_box :ecoSystem, id: :vehicle_ecoSystem, class: 'form-check-input' %>
                  Eco System
                </label>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3"></div>
            <div class="col-12 col-md-6 col-lg-3"></div>
          </div>
        </div>
        <div id="step-3" class="">
            <h2 class="text-center my-3">Upload Your Images</h2>
            <div class="row">
              <div class="col-8">
                <button class="btn btn-info">Add Files</button>
                <button class="btn btn-primary">Upload All</button>
              </div>
              <div class="col-4">
              </div>
            </div>
        </div>
        <div id="step-4">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9 text-center">
                <h2 class=" mt-3">Press the button below to publish your Vehicle</h2>
                <%= form.submit 'Finish', class: 'btn btn-success' %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-12 col-md-6">
                <div class="social-medias text-center">
                  <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i>
                  <i class="fa fa-2x fa-twitter" aria-hidden="true"></i>
                  <i class="fa fa-2x fa-instagram" aria-hidden="true"></i>
                  <i class="fa fa-2x fa-linkedin" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

      </div>
  </div>
  <div class=" navbar-btn" role="group">
      <button class="btn btn-danger" id="reset-btn" type="button">Reset</button>
      <button class="btn btn-primary float-right" id="next-btn" type="button">Go Next</button>
      <button class="btn btn-primary float-right" id="prev-btn" type="button">Go Previous</button>
  </div>

  <!-- <div class="field">
    <%= form.label :featureImag %>
    <%= form.text_field :featureImag, id: :vehicle_featureImag %>
  </div>

  <div class="field">
    <%= form.label :galleryImag %>
    <%= form.text_field :galleryImag, id: :vehicle_galleryImag %>
  </div> -->
<% end %>

app/views/vehicles/_form.html.slim
= form_with(model: vehicle, local: true) do |form|
  - if vehicle.errors.any?
    #error_explanation
      h2
        = pluralize(vehicle.errors.count, "error")
        | prohibited this vehicle from being saved:
      ul
        - vehicle.errors.full_messages.each do |message|
          li= message
  #smartwizard.sw-main.sw-theme-arrows
    ul.nav.nav-tabs.step-anchor
      li.step-field
        a.display-4 href="#step-1"  Step 1
      li.step-field
        a.display-4 href="#step-2"  Step 2
      li.step-field
        a.display-4 href="#step-3"  Step 3
      li.step-field
        a.display-4 href="#step-4"  Done!
    div
      #step-1
        h2.text-center.mt-3 Specifications
        .row
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  Car Condition
              = form.select :condition, options_for_select(['New', 'Used']),{},{class: 'form-control'}
          .col-12.col-md-6.col-lg-3
            .form-group
              label Price
              = form.text_field :price, id: :vehicle_price, type: 'number', name: 'quantity', placeholder: '$ 00.00', class: 'form-control'
          .col-12.col-md-6.col-lg-3
            .form-group
              label Age
              = form.text_field :carYear, id: :vehicle_carYear, type: 'date', class: 'form-control'
          .col-12.col-md-6.col-lg-3
            .form-group
              label Engine Type
              = form.text_field :engineType, id: :vehicle_engineType, class: 'form-control'
        .row
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  Car Maker
              = form.collection_select(:carMaker, VehicleBrand.all, :id, :name, {}, { class: 'form-control'})
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  Gas Type
              = form.select :gasType, options_for_select(['GLP', 'Gasoline', 'Diesel', 'Helectric', 'Hybrid']),{},{class: 'form-control'}
          .col-12.col-md-6.col-lg-3
            .form-group
              label Millage
              = form.text_field :carMileage, id: :vehicle_carMileage, class: 'form-control'
          .col-12.col-md-6.col-lg-3
            .form-group
              label VIN
              = form.text_field :VIM, id: :vehicle_VIM, class: 'form-control'
        .row
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  Car Model
              = form.collection_select(:carModel, VehicleModel.all, :id, :name, {}, { class: 'form-control'})
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  Internal Color
              = form.text_field :internalColor, id: :vehicle_internalColor, class: 'form-control'
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  External Color
              = form.text_field :externalColor, id: :vehicle_externalColor, class: 'form-control'
          .col-12.col-md-6.col-lg-3
            .form-group
              label Previews Owners
              = form.text_field :previewOwner, id: :vehicle_previewOwner, class: 'form-control'
        .row
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  Car Type
              = form.collection_select(:carType, VehicleType.all, :id, :name, {}, { class: 'form-control'})
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  Transmission
              = form.select :transmision, options_for_select(['Automatic', 'Manual', 'Hybrid']),{},{class: 'form-control'}
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  Door Numbers
              = form.text_field :carDoor, id: :vehicle_carDoor, class: 'form-control'
          .col-12.col-md-6.col-lg-3
            .form-group
          /!
            | <div class="col-12 col-md-6"
            | <div class="form-group"
            | <div class="form-group"
            | <label for="exampleFormControlTextarea1">Additional Information</label
            | <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea
            | </div
            | </div
            | </div
      #step-2
        h2.text-center.mt-3 Features
        h3.my-3 Inside
        .row
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  Seats Line
              = form.number_field :seatsLine, id: :vehicle_seatsLine, class: 'form-control'
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  Seats Material
              = form.text_field :seatsMaterial, id: :vehicle_seatsMaterial, class: 'form-control'
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :aribag, id: :vehicle_aribag, class: 'form-check-input'
                | Air Bag
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :sportSeats, id: :vehicle_sportSeats, class: 'form-check-input'
                | Sport Seats
        .row
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :electricalChairs, id: :vehicle_electricalChairs, class: 'form-check-input'
                | Electrical Chairs
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :supportFrontArms, id: :vehicle_supportFrontArms, class: 'form-check-input'
                | Support Front Arms
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :safetyBelt, id: :vehicle_safetyBelt, class: 'form-check-input'
                | Safety Belt
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :multifunctionGuide, id: :vehicle_multifunctionGuide, class: 'form-check-input'
                | Multifunction Guide
        .row
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :ac, id: :vehicle_ac, class: 'form-check-input'
                | Air Conditioner
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :radio, id: :vehicle_radio, class: 'form-check-input'
                | Radio AM/FM
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :DVD, id: :vehicle_DVD, class: 'form-check-input'
                | DVD
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :cdPlayer, id: :vehicle_cdPlayer, class: 'form-check-input'
                | CD Player
        .row
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :cdBox, id: :vehicle_cdBox, class: 'form-check-input'
                | CD Box
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :usbinterface, id: :vehicle_usbinterface, class: 'form-check-input'
                | USB Interface
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :mp3Aux, id: :vehicle_mp3Aux, class: 'form-check-input'
                | MP3-Aux
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :speakrsHifi, id: :vehicle_speakrsHifi, class: 'form-check-input'
                | Speaker Wi-Fi
        .row
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :profecionalSound, id: :vehicle_profecionalSound, class: 'form-check-input'
                | Professional Sound
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :wifi, id: :vehicle_wifi, class: 'form-check-input'
                | Wi-Fi
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :bluethooth, id: :vehicle_bluethooth, class: 'form-check-input'
                | Bluetooth
          .col-12.col-md-6.col-lg-3
        hr/
        h3.my-3 Exterior
        .row
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :trailerCouplig, id: :vehicle_trailerCouplig, class: 'form-check-input'
                | Trailer Compling
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :rearSpoiler, id: :vehicle_rearSpoiler, class: 'form-check-input'
                | Rear Spoiler
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :halogenXenon, id: :vehicle_halogenXenon, class: 'form-check-input'
                | Halogen / Xenon
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :fogLigth, id: :vehicle_fogLigth, class: 'form-check-input'
                | Fog Lights
        .row
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :daytimeRunningLigths, id: :vehicle_daytimeRunningLigths, class: 'form-check-input'
                | Daytime Running Lights
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :cleanRearGlasses, id: :vehicle_cleanRearGlasses, class: 'form-check-input'
                | Clean Rear Glasses
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :electricMirrors, id: :vehicle_electricMirrors, class: 'form-check-input', class: 'form-check-input'
                | Electric Mirrors
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                input.form-check-input type="checkbox" /
                | Electric Glasses
        .row
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :electricDoors, id: :vehicle_electricDoors, class: 'form-check-input'
                | Electric Doors
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :newRubbers, id: :vehicle_newRubbers, class: 'form-check-input'
                | New Rubber
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :factoryRings, id: :vehicle_factoryRings, class: 'form-check-input'
                | Factory Rings
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :factoryPaints, id: :vehicle_factoryPaints, class: 'form-check-input'
                | Factory Paint
        .row
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :panoramicCeiling, id: :vehicle_panoramicCeiling, class: 'form-check-input'
                | Panoramic Ceiling
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :sunroof, id: :vehicle_sunroof, class: 'form-check-input'
                | Sunroof
          .col-12.col-md-6.col-lg-3
          .col-12.col-md-6.col-lg-3
        hr/
        h3.my-3 Technology
        .row
          .col-12.col-md-6.col-lg-3
            .form-group
              label for="exampleFormControlSelect1"  Version
              = form.text_field :version, id: :vehicle_version, class: 'form-control'
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :absBrakes, id: :vehicle_absBrakes, class: 'form-check-input'
                | ABS Brakes
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :alarm, id: :vehicle_alarm, class: 'form-check-input'
                | Alarm
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :reverseCamera, id: :vehicle_reverseCamera, class: 'form-check-input'
                | Reverse Camera
        .row
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :rainSensor, id: :vehicle_rainSensor, class: 'form-check-input'
                | Rain Sensors
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :parkingSensor, id: :vehicle_parkingSensor, class: 'form-check-input'
                | Parking Sensors
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :gps, id: :vehicle_gps, class: 'form-check-input'
                | Navigation System (GPS)
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :smartKey, id: :vehicle_smartKey, class: 'form-check-input'
                | Smart Key
        .row
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :creuiseControl, id: :vehicle_creuiseControl, class: 'form-check-input'
                | Cruise Control
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :four_x_four, id: :vehicle_four_x_four, class: 'form-check-input'
                | 4x4
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :turbo, id: :vehicle_turbo, class: 'form-check-input'
                | Turbo
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :fullPower, id: :vehicle_fullPower, class: 'form-check-input'
                | Full Power
        .row
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                input.form-check-input type="checkbox" /
                | Sport Suspensions
          .col-12.col-md-6.col-lg-3
            .form-check.check-input
              label.form-check-label
                = form.check_box :ecoSystem, id: :vehicle_ecoSystem, class: 'form-check-input'
                | Eco System
          .col-12.col-md-6.col-lg-3
          .col-12.col-md-6.col-lg-3
      #step-3
        h2.text-center.my-3 Upload Your Images
        .row
          .col-8
            button.btn.btn-info Add Files
            button.btn.btn-primary Upload All
          .col-4
      #step-4
        .row.justify-content-center
          .col-12.col-lg-9.text-center
            h2.mt-3 Press the button below to publish your Vehicle
            = form.submit 'Finish', class: 'btn btn-success'
        .row.justify-content-center
          .col-12.col-md-6
            .social-medias.text-center
              i.fa.fa-2x.fa-facebook-square aria-hidden="true" 
              i.fa.fa-2x.fa-twitter aria-hidden="true" 
              i.fa.fa-2x.fa-instagram aria-hidden="true" 
              i.fa.fa-2x.fa-linkedin aria-hidden="true" 
  .navbar-btn role="group" 
    button#reset-btn.btn.btn-danger type="button"  Reset
    button#next-btn.btn.btn-primary.float-right type="button"  Go Next
    button#prev-btn.btn.btn-primary.float-right type="button"  Go Previous
  /!
    | <div class="field"
    | <haml_loud> form.label :featureImag </haml_loud
    | <haml_loud> form.text_field :featureImag, id: :vehicle_featureImag </haml_loud
    | </div
    
    | <div class="field"
    | <haml_loud> form.label :galleryImag </haml_loud
    | <haml_loud> form.text_field :galleryImag, id: :vehicle_galleryImag </haml_loud
    | </div
